
 {{#each competitors}}

{{#compare homeAway "away" operator="=="}}
		<div id="{{homeAway}}ScoreBox" class="vscorebox"><div class="team-name vteamname" style="background-color:#{{#team}}{{color}}{{/team}};">{{#team}}{{location}}{{/team}}</div><div class="score-info"><div class="team-logo visitor"><div class="ncaa-logo"><img src="{{#logoContainer this size='medium'}} {{/logoContainer}}" width="40"></div></div><div class="score"><div class="rotatingScore">{{score}}</div></div></div></div>
  {{/compare}}
  {{/each}}

 <div id="linescore" class="linescorebox ncb"><div class="clock" style="top:-10px;">
{{#compare status "string" operator="typeof"}}
		{{replace status "IN PROGRESS: " ""}}
	{{else}}
		{{#compare status.id 1 operator="=="}}
			{{dateToDay ../../../date}} {{getTimefromDate ../../../date}} {{! date }}
		{{else}}
			{{replace status.detail "IN PROGRESS: " ""}}
		{{/compare}}
	{{/compare}}
 </div></div>

 {{#each competitors}}

{{#compare homeAway "home" operator="=="}}
		<div id="{{homeAway}}ScoreBox" class="hscorebox"><div class="team-name hteamname" style="background-color:#{{#team}}{{color}}{{/team}};">{{#team}}{{location}}{{/team}}</div><div class="score-info"><div class="team-logo home"><div class="ncaa-logo"><img src="{{#logoContainer this size='medium'}} {{/logoContainer}}" width="40"></div></div><div class="score"><div class="rotatingScore">{{score}}</div></div></div></div>
  {{/compare}}
  {{/each}}

